<header class="header">
    <div class="logo">
      <h1>Metode za večkriterijsko odločanje</h1>
    </div>
    <div class="nav-buttons">
    <button (click)="navigateTo('data')">Podatki</button>
      <button (click)="navigateTo('ahp')">AHP</button>
      <button (click)="navigateTo('topsis')">TOPSIS</button>
      <button (click)="navigateTo('waspas')">WASPAS</button>
      <button (click)="navigateTo('promethee')">PROMETHEE</button>
      <button (click)="navigateTo('ensemble')">ENSEMBLE</button>
    </div>
  </header>
  